In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\manisha\appdata\roaming\python\python313\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manisha\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\manisha\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 512.8 kB/s eta 0:00:21
   - -------------------------------------- 0.5/11.0 MB 512.8 kB/s eta 0:00:21
   - -------------------------------------- 0.5/11.0 MB 512.8 kB/s eta 0:00:21
   - -------------------------------------- 0.5/11.0 MB 512.8 kB/s eta 0:00:21
   - -------------------------------------- 0.5/11.0 MB 512.8 kB/s eta 0:00:21
   -- ------------------------------------- 0.8/11.0 MB 320.5 kB/s eta 0:00:32
   -- ------------------------------------- 0.8/11.0 MB 320.5 kB/s eta 0:00:32
   -- ------------------------------------- 0.8/11.0 MB 320.5 kB/s eta 0:00:32
   -- ------------------------------------- 0.8/11.0 MB 320.5 kB/s eta 0:00:32
   --- ------------------------------------ 1.0/11.0 MB 323.4 kB/s eta 0:00:31
   --- ------------------------------------ 1.0/11.0 MB 323.4 kB/s eta 0:00:31
   ---- ----------------------------------- 1.3/11.0 MB 348.5 kB/s eta 0:00:28
   ---- ----------------------------------- 1.3/11.0 MB 348.5 kB/s eta 0:00:28
   ---- ----------------------------------- 1.3/11.0 MB 348.5 kB/s eta 0:00:28
   ----- ---------------------------------- 1.6/11.0 MB 377.3 kB/s eta 0:00:25
   ----- ---------------------------------- 1.6/11.0 MB 377.3 kB/s eta 0:00:25
   ----- ---------------------------------- 1.6/11.0 MB 377.3 kB/s eta 0:00:25
   ----- ---------------------------------- 1.6/11.0 MB 377.3 kB/s eta 0:00:25
   ----- ---------------------------------- 1.6/11.0 MB 377.3 kB/s eta 0:00:25
   ------ --------------------------------- 1.8/11.0 MB 346.4 kB/s eta 0:00:27
   ------ --------------------------------- 1.8/11.0 MB 346.4 kB/s eta 0:00:27
   ------ --------------------------------- 1.8/11.0 MB 346.4 kB/s eta 0:00:27
   ------ --------------------------------- 1.8/11.0 MB 346.4 kB/s eta 0:00:27
   ------ --------------------------------- 1.8/11.0 MB 346.4 kB/s eta 0:00:27
   ------ --------------------------------- 1.8/11.0 MB 346.4 kB/s eta 0:00:27
   ------- -------------------------------- 2.1/11.0 MB 316.0 kB/s eta 0:00:29
   ------- -------------------------------- 2.1/11.0 MB 316.0 kB/s eta 0:00:29
   -------- ------------------------------- 2.4/11.0 MB 328.1 kB/s eta 0:00:27
   -------- ------------------------------- 2.4/11.0 MB 328.1 kB/s eta 0:00:27
   -------- ------------------------------- 2.4/11.0 MB 328.1 kB/s eta 0:00:27
   --------- ------------------------------ 2.6/11.0 MB 340.4 kB/s eta 0:00:25
   --------- ------------------------------ 2.6/11.0 MB 340.4 kB/s eta 0:00:25
   ---------- ----------------------------- 2.9/11.0 MB 349.4 kB/s eta 0:00:24
   ---------- ----------------------------- 2.9/11.0 MB 349.4 kB/s eta 0:00:24
   ---------- ----------------------------- 2.9/11.0 MB 349.4 kB/s eta 0:00:24
   ---------- ----------------------------- 2.9/11.0 MB 349.4 kB/s eta 0:00:24
   ----------- ---------------------------- 3.1/11.0 MB 352.1 kB/s eta 0:00:23
   ------------ --------------------------- 3.4/11.0 MB 368.2 kB/s eta 0:00:21
   ------------ --------------------------- 3.4/11.0 MB 368.2 kB/s eta 0:00:21
   ------------ --------------------------- 3.4/11.0 MB 368.2 kB/s eta 0:00:21
   ------------- -------------------------- 3.7/11.0 MB 373.0 kB/s eta 0:00:20
   ------------- -------------------------- 3.7/11.0 MB 373.0 kB/s eta 0:00:20
   ------------- -------------------------- 3.7/11.0 MB 373.0 kB/s eta 0:00:20
   ------------- -------------------------- 3.7/11.0 MB 373.0 kB/s eta 0:00:20
   -------------- ------------------------- 3.9/11.0 MB 365.0 kB/s eta 0:00:20
   -------------- ------------------------- 3.9/11.0 MB 365.0 kB/s eta 0:00:20
   -------------- ------------------------- 3.9/11.0 MB 365.0 kB/s eta 0:00:20
   --------------- ------------------------ 4.2/11.0 MB 365.2 kB/s eta 0:00:19
   ---------------- ----------------------- 4.5/11.0 MB 384.2 kB/s eta 0:00:17
   ---------------- ----------------------- 4.5/11.0 MB 384.2 kB/s eta 0:00:17
   ---------------- ----------------------- 4.5/11.0 MB 384.2 kB/s eta 0:00:17
   ----------------- ---------------------- 4.7/11.0 MB 383.5 kB/s eta 0:00:17
   ----------------- ---------------------- 4.7/11.0 MB 383.5 kB/s eta 0:00:17
   ----------------- ---------------------- 4.7/11.0 MB 383.5 kB/s eta 0:00:17
   ------------------ --------------------- 5.0/11.0 MB 385.2 kB/s eta 0:00:16
   ------------------ --------------------- 5.0/11.0 MB 385.2 kB/s eta 0:00:16
   ------------------ --------------------- 5.0/11.0 MB 385.2 kB/s eta 0:00:16
   ------------------- -------------------- 5.2/11.0 MB 389.2 kB/s eta 0:00:15
   ------------------- -------------------- 5.2/11.0 MB 389.2 kB/s eta 0:00:15
   ------------------- -------------------- 5.2/11.0 MB 389.2 kB/s eta 0:00:15
   -------------------- ------------------- 5.5/11.0 MB 389.8 kB/s eta 0:00:15
   -------------------- ------------------- 5.5/11.0 MB 389.8 kB/s eta 0:00:15
   -------------------- ------------------- 5.5/11.0 MB 389.8 kB/s eta 0:00:15
   -------------------- ------------------- 5.5/11.0 MB 389.8 kB/s eta 0:00:15
   -------------------- ------------------- 5.5/11.0 MB 389.8 kB/s eta 0:00:15
   --------------------- ------------------ 5.8/11.0 MB 379.0 kB/s eta 0:00:14
   --------------------- ------------------ 5.8/11.0 MB 379.0 kB/s eta 0:00:14
   --------------------- ------------------ 5.8/11.0 MB 379.0 kB/s eta 0:00:14
   --------------------- ------------------ 5.8/11.0 MB 379.0 kB/s eta 0:00:14
   --------------------- ------------------ 5.8/11.0 MB 379.0 kB/s eta 0:00:14
   --------------------- ------------------ 6.0/11.0 MB 370.6 kB/s eta 0:00:14
   --------------------- ------------------ 6.0/11.0 MB 370.6 kB/s eta 0:00:14
   --------------------- ------------------ 6.0/11.0 MB 370.6 kB/s eta 0:00:14
   ---------------------- ----------------- 6.3/11.0 MB 374.0 kB/s eta 0:00:13
   ---------------------- ----------------- 6.3/11.0 MB 374.0 kB/s eta 0:00:13
   ----------------------- ---------------- 6.6/11.0 MB 378.4 kB/s eta 0:00:12
   ----------------------- ---------------- 6.6/11.0 MB 378.4 kB/s eta 0:00:12
   ------------------------ --------------- 6.8/11.0 MB 384.4 kB/s eta 0:00:11
   ------------------------ --------------- 6.8/11.0 MB 384.4 kB/s eta 0:00:11
   ------------------------ --------------- 6.8/11.0 MB 384.4 kB/s eta 0:00:11
   ------------------------ --------------- 6.8/11.0 MB 384.4 kB/s eta 0:00:11
   ------------------------ --------------- 6.8/11.0 MB 384.4 kB/s eta 0:00:11
   ------------------------ --------------- 6.8/11.0 MB 384.4 kB/s eta 0:00:11
   ------------------------- -------------- 7.1/11.0 MB 369.9 kB/s eta 0:00:11
   ------------------------- -------------- 7.1/11.0 MB 369.9 kB/s eta 0:00:11
   ------------------------- -------------- 7.1/11.0 MB 369.9 kB/s eta 0:00:11
   -------------------------- ------------- 7.3/11.0 MB 373.4 kB/s eta 0:00:10
   -------------------------- ------------- 7.3/11.0 MB 373.4 kB/s eta 0:00:10
   -------------------------- ------------- 7.3/11.0 MB 373.4 kB/s eta 0:00:10
   -------------------------- ------------- 7.3/11.0 MB 373.4 kB/s eta 0:00:10
   --------------------------- ------------ 7.6/11.0 MB 369.6 kB/s eta 0:00:10
   ---------------------------- ----------- 7.9/11.0 MB 377.3 kB/s eta 0:00:09
   ---------------------------- ----------- 7.9/11.0 MB 377.3 kB/s eta 0:00:09
   ---------------------------- ----------- 7.9/11.0 MB 377.3 kB/s eta 0:00:09
   ----------------------------- ---------- 8.1/11.0 MB 380.8 kB/s eta 0:00:08
   ----------------------------- ---------- 8.1/11.0 MB 380.8 kB/s eta 0:00:08
   ------------------------------ --------- 8.4/11.0 MB 385.3 kB/s eta 0:00:07
   ------------------------------ --------- 8.4/11.0 MB 385.3 kB/s eta 0:00:07
   ------------------------------- -------- 8.7/11.0 MB 390.1 kB/s eta 0:00:06
   ------------------------------- -------- 8.7/11.0 MB 390.1 kB/s eta 0:00:06
   -------------------------------- ------- 8.9/11.0 MB 395.1 kB/s eta 0:00:06
   --------------------------------- ------ 9.2/11.0 MB 402.6 kB/s eta 0:00:05
   --------------------------------- ------ 9.2/11.0 MB 402.6 kB/s eta 0:00:05
   --------------------------------- ------ 9.2/11.0 MB 402.6 kB/s eta 0:00:05
   ---------------------------------- ----- 9.4/11.0 MB 400.4 kB/s eta 0:00:04
   ---------------------------------- ----- 9.4/11.0 MB 400.4 kB/s eta 0:00:04
   ----------------------------------- ---- 9.7/11.0 MB 404.7 kB/s eta 0:00:04
   ----------------------------------- ---- 9.7/11.0 MB 404.7 kB/s eta 0:00:04
   ----------------------------------- ---- 9.7/11.0 MB 404.7 kB/s eta 0:00:04
   ----------------------------------- ---- 9.7/11.0 MB 404.7 kB/s eta 0:00:04
   ----------------------------------- ---- 9.7/11.0 MB 404.7 kB/s eta 0:00:04
   ------------------------------------ --- 10.0/11.0 MB 400.5 kB/s eta 0:00:03
   ------------------------------------ --- 10.0/11.0 MB 400.5 kB/s eta 0:00:03
   ------------------------------------ --- 10.0/11.0 MB 400.5 kB/s eta 0:00:03
   ------------------------------------- -- 10.2/11.0 MB 398.3 kB/s eta 0:00:02
   ------------------------------------- -- 10.2/11.0 MB 398.3 kB/s eta 0:00:02
   ------------------------------------- -- 10.2/11.0 MB 398.3 kB/s eta 0:00:02
   ------------------------------------- -- 10.2/11.0 MB 398.3 kB/s eta 0:00:02
   ------------------------------------- -- 10.2/11.0 MB 398.3 kB/s eta 0:00:02
   -------------------------------------- - 10.5/11.0 MB 394.6 kB/s eta 0:00:02
   -------------------------------------- - 10.5/11.0 MB 394.6 kB/s eta 0:00:02
   -------------------------------------- - 10.5/11.0 MB 394.6 kB/s eta 0:00:02
   -------------------------------------- - 10.5/11.0 MB 394.6 kB/s eta 0:00:02
   ---------------------------------------  10.7/11.0 MB 390.7 kB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 390.7 kB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 391.6 kB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.0 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
#data structures -series(1D)and data frame(2D)
import pandas as pd
var=['a','b','c','d']
pd.Series(var)

0    a
1    b
2    c
3    d
dtype: object

In [3]:
num=[10,20,30,40]
var=['a','b','c','d']
pd.Series(var,index=num)

10    a
20    b
30    c
40    d
dtype: object

In [5]:
print(pd.Series(var,index=num,name="Data Manipulation"))

10    a
20    b
30    c
40    d
Name: Data Manipulation, dtype: object

In [8]:
#with dictionary
panda_dict={
    'id':47,
    'name':'manisha',
    'sem':4
}
panda_dict_series=pd.Series(panda_dict,name="Subjects")
panda_dict_series

id           47
name    manisha
sem           4
Name: Subjects, dtype: object

In [9]:
df=pd.DataFrame(panda_dict,index=['subjects'])
print(df)

          id     name  sem
subjects  47  manisha    4

In [11]:
df=pd.read_csv("data.csv")
print(df.head)
print(df.head())
print(df.head(2))

<bound method NDFrame.head of   name  age  address profession
0    A   11    earth   engineer
1   A1   13  mercury     farmer
2   A2   14    venus         hr
3   A3   12     mars     banker
4   A4   15   saturn    teacher
5   A5   16  jupiter      pilot
6   A6   17    pluto     doctor>
  name  age  address profession
0    A   11    earth   engineer
1   A1   13  mercury     farmer
2   A2   14    venus         hr
3   A3   12     mars     banker
4   A4   15   saturn    teacher
  name  age  address profession
0    A   11    earth   engineer
1   A1   13  mercury     farmer

In [12]:
print(df.dtypes)

name          object
age            int64
address       object
profession    object
dtype: object

In [13]:
print(df.shape)

(7, 4)

In [15]:
print(df.describe())

             age
count   7.000000
mean   14.000000
std     2.160247
min    11.000000
25%    12.500000
50%    14.000000
75%    15.500000
max    17.000000

In [ ]:
#transformation
df['name']=df['name'].str.upper()#name column is converted into uppercase
df

  name  age  address profession
0    A   11    earth   engineer
1   A1   13  mercury     farmer
2   A2   14    venus         hr
3   A3   12     mars     banker
4   A4   15   saturn    teacher
5   A5   16  jupiter      pilot
6   A6   17    pluto     doctor

In [17]:
df.columns=df.columns.str.strip()#removes leading/trailing spaces
df['age']=(df['age'].mean())/df['age'].std()
df

  name       age  address profession
0    A  6.480741    earth   engineer
1   A1  6.480741  mercury     farmer
2   A2  6.480741    venus         hr
3   A3  6.480741     mars     banker
4   A4  6.480741   saturn    teacher
5   A5  6.480741  jupiter      pilot
6   A6  6.480741    pluto     doctor

In [49]:
#import csv
import pandas as pd
df=pd.read_csv('pandas_data.csv')
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [20]:
print(df.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [21]:
print(df.tail(5))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
795  719              Diancie     Rock  Fairy  50     100      150      100
796  719  DiancieMega Diancie     Rock  Fairy  50     160      110      160
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
795      150     50           6       True
796      110    110           6       True
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [23]:
# df_xlsx=pd.read_excel('pokemon_data.xlsx')#to read excel data
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [27]:
print(df['Name'])
print(df['Attack'])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object
0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

In [28]:
print(df['HP'])

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [29]:
print(df[['Name','Type 1','HP']])

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [30]:
print(df['Name'][0:5])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [32]:
#index of rows
print(df.iloc[1])
print(df.iloc[0:4])

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

In [33]:
#specific index
print(df.iloc[2,1])

Venusaur

In [35]:
for index,row in df.iterrows():
    print(index,row['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon
6 Charizard
7 CharizardMega Charizard X
8 CharizardMega Charizard Y
9 Squirtle
10 Wartortle
11 Blastoise
12 BlastoiseMega Blastoise
13 Caterpie
14 Metapod
15 Butterfree
16 Weedle
17 Kakuna
18 Beedrill
19 BeedrillMega Beedrill
20 Pidgey
21 Pidgeotto
22 Pidgeot
23 PidgeotMega Pidgeot
24 Rattata
25 Raticate
26 Spearow
27 Fearow
28 Ekans
29 Arbok
30 Pikachu
31 Raichu
32 Sandshrew
33 Sandslash
34 Nidoran (Female)
35 Nidorina
36 Nidoqueen
37 Nidoran (Male)
38 Nidorino
39 Nidoking
40 Clefairy
41 Clefable
42 Vulpix
43 Ninetales
44 Jigglypuff
45 Wigglytuff
46 Zubat
47 Golbat
48 Oddish
49 Gloom
50 Vileplume
51 Paras
52 Parasect
53 Venonat
54 Venomoth
55 Diglett
56 Dugtrio
57 Meowth
58 Persian
59 Psyduck
60 Golduck
61 Mankey
62 Primeape
63 Growlithe
64 Arcanine
65 Poliwag
66 Poliwhirl
67 Poliwrath
68 Abra
69 Kadabra
70 Alakazam
71 AlakazamMega Alakazam
72 Machop
73 Machoke
74 Machamp
75 Bellsprout
76 Weepinbell
77 Victreebel
78 Tentacool
79 Tentacruel
80 Geodude
81 Graveler
82 Golem
83 Ponyta
84 Rapidash
85 Slowpoke
86 Slowbro
87 SlowbroMega Slowbro
88 Magnemite
89 Magneton
90 Farfetch'd
91 Doduo
92 Dodrio
93 Seel
94 Dewgong
95 Grimer
96 Muk
97 Shellder
98 Cloyster
99 Gastly
100 Haunter
101 Gengar
102 GengarMega Gengar
103 Onix
104 Drowzee
105 Hypno
106 Krabby
107 Kingler
108 Voltorb
109 Electrode
110 Exeggcute
111 Exeggutor
112 Cubone
113 Marowak
114 Hitmonlee
115 Hitmonchan
116 Lickitung
117 Koffing
118 Weezing
119 Rhyhorn
120 Rhydon
121 Chansey
122 Tangela
123 Kangaskhan
124 KangaskhanMega Kangaskhan
125 Horsea
126 Seadra
127 Goldeen
128 Seaking
129 Staryu
130 Starmie
131 Mr. Mime
132 Scyther
133 Jynx
134 Electabuzz
135 Magmar
136 Pinsir
137 PinsirMega Pinsir
138 Tauros
139 Magikarp
140 Gyarados
141 GyaradosMega Gyarados
142 Lapras
143 Ditto
144 Eevee
145 Vaporeon
146 Jolteon
147 Flareon
148 Porygon
149 Omanyte
150 Omastar
151 Kabuto
152 Kabutops
153 Aerodactyl
154 AerodactylMega Aerodactyl
155 Snorlax
156 Articuno
157 Zapdos
158 Moltres
159 Dratini
160 Dragonair
161 Dragonite
162 Mewtwo
163 MewtwoMega Mewtwo X
164 MewtwoMega Mewtwo Y
165 Mew
166 Chikorita
167 Bayleef
168 Meganium
169 Cyndaquil
170 Quilava
171 Typhlosion
172 Totodile
173 Croconaw
174 Feraligatr
175 Sentret
176 Furret
177 Hoothoot
178 Noctowl
179 Ledyba
180 Ledian
181 Spinarak
182 Ariados
183 Crobat
184 Chinchou
185 Lanturn
186 Pichu
187 Cleffa
188 Igglybuff
189 Togepi
190 Togetic
191 Natu
192 Xatu
193 Mareep
194 Flaaffy
195 Ampharos
196 AmpharosMega Ampharos
197 Bellossom
198 Marill
199 Azumarill
200 Sudowoodo
201 Politoed
202 Hoppip
203 Skiploom
204 Jumpluff
205 Aipom
206 Sunkern
207 Sunflora
208 Yanma
209 Wooper
210 Quagsire
211 Espeon
212 Umbreon
213 Murkrow
214 Slowking
215 Misdreavus
216 Unown
217 Wobbuffet
218 Girafarig
219 Pineco
220 Forretress
221 Dunsparce
222 Gligar
223 Steelix
224 SteelixMega Steelix
225 Snubbull
226 Granbull
227 Qwilfish
228 Scizor
229 ScizorMega Scizor
230 Shuckle
231 Heracross
232 HeracrossMega Heracross
233 Sneasel
234 Teddiursa
235 Ursaring
236 Slugma
237 Magcargo
238 Swinub
239 Piloswine
240 Corsola
241 Remoraid
242 Octillery
243 Delibird
244 Mantine
245 Skarmory
246 Houndour
247 Houndoom
248 HoundoomMega Houndoom
249 Kingdra
250 Phanpy
251 Donphan
252 Porygon2
253 Stantler
254 Smeargle
255 Tyrogue
256 Hitmontop
257 Smoochum
258 Elekid
259 Magby
260 Miltank
261 Blissey
262 Raikou
263 Entei
264 Suicune
265 Larvitar
266 Pupitar
267 Tyranitar
268 TyranitarMega Tyranitar
269 Lugia
270 Ho-oh
271 Celebi
272 Treecko
273 Grovyle
274 Sceptile
275 SceptileMega Sceptile
276 Torchic
277 Combusken
278 Blaziken
279 BlazikenMega Blaziken
280 Mudkip
281 Marshtomp
282 Swampert
283 SwampertMega Swampert
284 Poochyena
285 Mightyena
286 Zigzagoon
287 Linoone
288 Wurmple
289 Silcoon
290 Beautifly
291 Cascoon
292 Dustox
293 Lotad
294 Lombre
295 Ludicolo
296 Seedot
297 Nuzleaf
298 Shiftry
299 Taillow
300 Swellow
301 Wingull
302 Pelipper
303 Ralts
304 Kirlia
305 Gardevoir
306 GardevoirMega Gardevoir
307 Surskit
308 Masquerain
309 Shroomish
310 Breloom
311 Slakoth
312 Vigoroth
313 Slaking
314 Nincada
315 Ninjask
316 Shedinja
317 Whismur
318 Loudred
319 Exploud
320 Makuhita
321 Hariyama
322 Azurill
323 Nosepass
324 Skitty
325 Delcatty
326 Sableye
327 SableyeMega Sableye
328 Mawile
329 MawileMega Mawile
330 Aron
331 Lairon
332 Aggron
333 AggronMega Aggron
334 Meditite
335 Medicham
336 MedichamMega Medicham
337 Electrike
338 Manectric
339 ManectricMega Manectric
340 Plusle
341 Minun
342 Volbeat
343 Illumise
344 Roselia
345 Gulpin
346 Swalot
347 Carvanha
348 Sharpedo
349 SharpedoMega Sharpedo
350 Wailmer
351 Wailord
352 Numel
353 Camerupt
354 CameruptMega Camerupt
355 Torkoal
356 Spoink
357 Grumpig
358 Spinda
359 Trapinch
360 Vibrava
361 Flygon
362 Cacnea
363 Cacturne
364 Swablu
365 Altaria
366 AltariaMega Altaria
367 Zangoose
368 Seviper
369 Lunatone
370 Solrock
371 Barboach
372 Whiscash
373 Corphish
374 Crawdaunt
375 Baltoy
376 Claydol
377 Lileep
378 Cradily
379 Anorith
380 Armaldo
381 Feebas
382 Milotic
383 Castform
384 Kecleon
385 Shuppet
386 Banette
387 BanetteMega Banette
388 Duskull
389 Dusclops
390 Tropius
391 Chimecho
392 Absol
393 AbsolMega Absol
394 Wynaut
395 Snorunt
396 Glalie
397 GlalieMega Glalie
398 Spheal
399 Sealeo
400 Walrein
401 Clamperl
402 Huntail
403 Gorebyss
404 Relicanth
405 Luvdisc
406 Bagon
407 Shelgon
408 Salamence
409 SalamenceMega Salamence
410 Beldum
411 Metang
412 Metagross
413 MetagrossMega Metagross
414 Regirock
415 Regice
416 Registeel
417 Latias
418 LatiasMega Latias
419 Latios
420 LatiosMega Latios
421 Kyogre
422 KyogrePrimal Kyogre
423 Groudon
424 GroudonPrimal Groudon
425 Rayquaza
426 RayquazaMega Rayquaza
427 Jirachi
428 DeoxysNormal Forme
429 DeoxysAttack Forme
430 DeoxysDefense Forme
431 DeoxysSpeed Forme
432 Turtwig
433 Grotle
434 Torterra
435 Chimchar
436 Monferno
437 Infernape
438 Piplup
439 Prinplup
440 Empoleon
441 Starly
442 Staravia
443 Staraptor
444 Bidoof
445 Bibarel
446 Kricketot
447 Kricketune
448 Shinx
449 Luxio
450 Luxray
451 Budew
452 Roserade
453 Cranidos
454 Rampardos
455 Shieldon
456 Bastiodon
457 Burmy
458 WormadamPlant Cloak
459 WormadamSandy Cloak
460 WormadamTrash Cloak
461 Mothim
462 Combee
463 Vespiquen
464 Pachirisu
465 Buizel
466 Floatzel
467 Cherubi
468 Cherrim
469 Shellos
470 Gastrodon
471 Ambipom
472 Drifloon
473 Drifblim
474 Buneary
475 Lopunny
476 LopunnyMega Lopunny
477 Mismagius
478 Honchkrow
479 Glameow
480 Purugly
481 Chingling
482 Stunky
483 Skuntank
484 Bronzor
485 Bronzong
486 Bonsly
487 Mime Jr.
488 Happiny
489 Chatot
490 Spiritomb
491 Gible
492 Gabite
493 Garchomp
494 GarchompMega Garchomp
495 Munchlax
496 Riolu
497 Lucario
498 LucarioMega Lucario
499 Hippopotas
500 Hippowdon
501 Skorupi
502 Drapion
503 Croagunk
504 Toxicroak
505 Carnivine
506 Finneon
507 Lumineon
508 Mantyke
509 Snover
510 Abomasnow
511 AbomasnowMega Abomasnow
512 Weavile
513 Magnezone
514 Lickilicky
515 Rhyperior
516 Tangrowth
517 Electivire
518 Magmortar
519 Togekiss
520 Yanmega
521 Leafeon
522 Glaceon
523 Gliscor
524 Mamoswine
525 Porygon-Z
526 Gallade
527 GalladeMega Gallade
528 Probopass
529 Dusknoir
530 Froslass
531 Rotom
532 RotomHeat Rotom
533 RotomWash Rotom
534 RotomFrost Rotom
535 RotomFan Rotom
536 RotomMow Rotom
537 Uxie
538 Mesprit
539 Azelf
540 Dialga
541 Palkia
542 Heatran
543 Regigigas
544 GiratinaAltered Forme
545 GiratinaOrigin Forme
546 Cresselia
547 Phione
548 Manaphy
549 Darkrai
550 ShayminLand Forme
551 ShayminSky Forme
552 Arceus
553 Victini
554 Snivy
555 Servine
556 Serperior
557 Tepig
558 Pignite
559 Emboar
560 Oshawott
561 Dewott
562 Samurott
563 Patrat
564 Watchog
565 Lillipup
566 Herdier
567 Stoutland
568 Purrloin
569 Liepard
570 Pansage
571 Simisage
572 Pansear
573 Simisear
574 Panpour
575 Simipour
576 Munna
577 Musharna
578 Pidove
579 Tranquill
580 Unfezant
581 Blitzle
582 Zebstrika
583 Roggenrola
584 Boldore
585 Gigalith
586 Woobat
587 Swoobat
588 Drilbur
589 Excadrill
590 Audino
591 AudinoMega Audino
592 Timburr
593 Gurdurr
594 Conkeldurr
595 Tympole
596 Palpitoad
597 Seismitoad
598 Throh
599 Sawk
600 Sewaddle
601 Swadloon
602 Leavanny
603 Venipede
604 Whirlipede
605 Scolipede
606 Cottonee
607 Whimsicott
608 Petilil
609 Lilligant
610 Basculin
611 Sandile
612 Krokorok
613 Krookodile
614 Darumaka
615 DarmanitanStandard Mode
616 DarmanitanZen Mode
617 Maractus
618 Dwebble
619 Crustle
620 Scraggy
621 Scrafty
622 Sigilyph
623 Yamask
624 Cofagrigus
625 Tirtouga
626 Carracosta
627 Archen
628 Archeops
629 Trubbish
630 Garbodor
631 Zorua
632 Zoroark
633 Minccino
634 Cinccino
635 Gothita
636 Gothorita
637 Gothitelle
638 Solosis
639 Duosion
640 Reuniclus
641 Ducklett
642 Swanna
643 Vanillite
644 Vanillish
645 Vanilluxe
646 Deerling
647 Sawsbuck
648 Emolga
649 Karrablast
650 Escavalier
651 Foongus
652 Amoonguss
653 Frillish
654 Jellicent
655 Alomomola
656 Joltik
657 Galvantula
658 Ferroseed
659 Ferrothorn
660 Klink
661 Klang
662 Klinklang
663 Tynamo
664 Eelektrik
665 Eelektross
666 Elgyem
667 Beheeyem
668 Litwick
669 Lampent
670 Chandelure
671 Axew
672 Fraxure
673 Haxorus
674 Cubchoo
675 Beartic
676 Cryogonal
677 Shelmet
678 Accelgor
679 Stunfisk
680 Mienfoo
681 Mienshao
682 Druddigon
683 Golett
684 Golurk
685 Pawniard
686 Bisharp
687 Bouffalant
688 Rufflet
689 Braviary
690 Vullaby
691 Mandibuzz
692 Heatmor
693 Durant
694 Deino
695 Zweilous
696 Hydreigon
697 Larvesta
698 Volcarona
699 Cobalion
700 Terrakion
701 Virizion
702 TornadusIncarnate Forme
703 TornadusTherian Forme
704 ThundurusIncarnate Forme
705 ThundurusTherian Forme
706 Reshiram
707 Zekrom
708 LandorusIncarnate Forme
709 LandorusTherian Forme
710 Kyurem
711 KyuremBlack Kyurem
712 KyuremWhite Kyurem
713 KeldeoOrdinary Forme
714 KeldeoResolute Forme
715 MeloettaAria Forme
716 MeloettaPirouette Forme
717 Genesect
718 Chespin
719 Quilladin
720 Chesnaught
721 Fennekin
722 Braixen
723 Delphox
724 Froakie
725 Frogadier
726 Greninja
727 Bunnelby
728 Diggersby
729 Fletchling
730 Fletchinder
731 Talonflame
732 Scatterbug
733 Spewpa
734 Vivillon
735 Litleo
736 Pyroar
737 Flabébé
738 Floette
739 Florges
740 Skiddo
741 Gogoat
742 Pancham
743 Pangoro
744 Furfrou
745 Espurr
746 MeowsticMale
747 MeowsticFemale
748 Honedge
749 Doublade
750 AegislashBlade Forme
751 AegislashShield Forme
752 Spritzee
753 Aromatisse
754 Swirlix
755 Slurpuff
756 Inkay
757 Malamar
758 Binacle
759 Barbaracle
760 Skrelp
761 Dragalge
762 Clauncher
763 Clawitzer
764 Helioptile
765 Heliolisk
766 Tyrunt
767 Tyrantrum
768 Amaura
769 Aurorus
770 Sylveon
771 Hawlucha
772 Dedenne
773 Carbink
774 Goomy
775 Sliggoo
776 Goodra
777 Klefki
778 Phantump
779 Trevenant
780 PumpkabooAverage Size
781 PumpkabooSmall Size
782 PumpkabooLarge Size
783 PumpkabooSuper Size
784 GourgeistAverage Size
785 GourgeistSmall Size
786 GourgeistLarge Size
787 GourgeistSuper Size
788 Bergmite
789 Avalugg
790 Noibat
791 Noivern
792 Xerneas
793 Yveltal
794 Zygarde50% Forme
795 Diancie
796 DiancieMega Diancie
797 HoopaHoopa Confined
798 HoopaHoopa Unbound
799 Volcanion

In [36]:
df.loc[df['Type 1']=="Grass"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [37]:
df.loc[df['Name']=='Pikachu']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False

In [38]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [40]:
#checking duplicates
print(df.duplicated().sum())

0

In [41]:
#removing duplicates
df=df.drop_duplicates()

In [44]:
#rename
df=df.rename(columns={'Name':'pokemon_name'})
print(df)

       #           pokemon_name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [46]:
#sorting/describing data
df=df.sort_values('Attack',ascending=False)
df

,#,pokemon_name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [ ]:
df=df.sort_values(['Type 1','HP'],ascending=[1,0])#true(1)for type 1 and false for hp
df

,#,pokemon_name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
97,90,Shellder,Water,NaN,30,65,100,45,25,40,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False

In [50]:
#making changes to data
df['Total']=df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [51]:
#saving our data
df.to_csv('changes.csv')

In [52]:
df.to_csv('changes.csv',index=False)